<div class="selectRegiones">
    <div class="separadorEditor"></div>
    <div class="tituloEditor">
        <h1>Listado Total </h1>
        <h3>Existen <span class="cifraCount">{{count}} </span> atractivos en la base de datos</h3>
        <a href="/generarPdf"><p id="crearPdf"> Crear pdf </p></a>
    </div>


    <div class="containerTabla">
        {{#each atractivos}}
        <table class="table tablaListado">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">URL</th>
                    <th scope="col">Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{!-- <td class="truncate-cell"><a href="{{this.imgurl}}" target="_blank">{{this.imgurl}}</a></td> --}}
                    <th scope="row" class="idAtractivo">{{this.atractivo_id}}</th>
                    <td >{{this.nombre}}</td>
                    <td >{{this.categorias_id}}</td>
                    <td class="truncate-cell"><a href="{{this.imgurl}}" target="_blank"><img src="{{this.imgurl}}" alt="" width="50px"></a>{{this.imgurl}}</td>
                    <td class="truncate-cell">{{this.descripcion}}</td>
                </tr>
            </tbody>
        </table>

        {{/each}}

    </div>
<style>
        .tituloEditor{
            font-size: 20px;
            justify-content: center;
            align-items: center;
        }


    </style>
